@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

header{
  text-align: center;
  background-image: url(images/Hero-bg.png);
  min-height: 600px;
  position: relative;
}

.banner{
    position: absolute;
    left: 90px;
    bottom: 90px;
}

.banner h2{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin: 10px 0;
}

.banner p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.banner button{
    background-color: rgb(13, 19, 33);
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    margin-top: 100px;
}

.about{
    text-align: center;
}

.about-info h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0;
}

.about-info p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.flex-1{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-style{
    text-align: justify;
}

.flex-style h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

.flex-style p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.flex-style button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin: 10px 0;
}

.target-info{
    text-align: center;
    margin: 100px 0;
}

.target-info h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0;
}


.target-info p{
    margin: 10px 0;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.target-skill{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 20px;
}

.target-skill h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0;
}

.target-skill p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}


.target-skill button{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid;
    cursor: pointer;
}

.skill1{
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 10px;
}

.skill2{
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 10px;
}

.skill3{
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    border-radius: 10px;
}

.support-info{
    background-image: url(images/handshake.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 0 100px 0;
    border-radius: 10px;
}


.support-info h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    margin: 10px 0;
}


.support-info p{
    color: rgb(212, 202, 202);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 100px 15px 100px;
    margin: 10px 0;
}


.text{
    text-align: center;
    padding-bottom: 50px;
}

.input-text{
    padding: 10px 100px 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.input-submit{
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

footer{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-info{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

